body {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    color: #726A5F;
    height: 100%;
    background-color: #FFFFF4;
}

.left-block{
    background:linear-gradient(rgba(44,45,51,0.9), rgba(44,45,51,0.9)) ;
    background-size:cover;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-xl;
}

#menu-toggle:checked + #menu {
  display: block;
  flex:right;
}
